name: test-ci

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    # 禁用
    if: ${{ false }}
    runs-on: [self-hosted, Linux, X64]
    steps:
      - uses: actions/checkout@v3
      - run: |
          ls -R
          echo "GITHUB_SHA-${GITHUB_SHA}"
          echo "GITHUB_REF_NAME-${GITHUB_REF_NAME}"
          cp builder-staging.sh /application/html/nuxt-demo/nuxt-demo1
